.cache/
.tox/
pytestdebug.log
.mypy_cache
.venv/
.pytest_cache/
.DS_Store
.AppleDouble
.LSOverride
.vscode/
*.code-workspace
*.swp
*.sav
*.tmp
*.bak
*.orig
*.patch
*.diff
*.log
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class
.mypy_cache/
.dmypy.json
dmypy.json
