-i https://pypi.org/simple
https://github.com/n8henrie/fauxmo/archive/dev.zip
black==23.3.0
flake8-docstrings==1.7.0
flake8-import-order==0.18.2
flake8==3.9.2
httpbin==0.7.0
mypy==1.2.0
paho-mqtt==1.6.1
pycodestyle==2.7.0
pydocstyle==6.1.1
pytest==7.3.0
requests==2.32.0
tox==4.4.11
types-requests==2.28.11.17
werkzeug<2.1
