-i https://pypi.org/simple
https://github.com/n8henrie/fauxmo/archive/dev.zip
black==19.3b0
flake8-docstrings==1.3.0
flake8-import-order==0.18.1
flake8==3.7.7
httpbin==0.7.0
mypy==0.701
paho-mqtt==1.4.0
pycodestyle==2.5.0
pydocstyle==3.0.0
pytest==4.5.0
requests==2.22.0
tox==3.12.1
